# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Production
build

# Truffle and solidity misc
npm-debug.log
.truffle-solidity-loader
.vagrant/**
blockchain/geth/**
blockchain/keystore/**
blockchain/history

# NPM
node_modules
package-lock.json

# IDE
.idea
.vscode

# MacOS
.DS_Store
